/******************************************************************************

Copyright (c) Intel Corporation (2013).

INTEL MAKES NO WARRANTY OF ANY KIND REGARDING THE CODE.  THIS CODE IS
LICENSED ON AN "AS IS" BASIS AND INTEL WILL NOT PROVIDE ANY SUPPORT,
ASSISTANCE, INSTALLATION, TRAINING OR OTHER SERVICES.  INTEL DOES NOT
PROVIDE ANY UPDATES, ENHANCEMENTS OR EXTENSIONS.  INTEL SPECIFICALLY
DISCLAIMS ANY WARRANTY OF MERCHANTABILITY, NONINFRINGEMENT, FITNESS FOR ANY
PARTICULAR PURPOSE, OR ANY OTHER WARRANTY.  Intel disclaims all liability,
including liability for infringement of any proprietary rights, relating to
use of the code. No license, express or implied, by estoppel or otherwise,
to any intellectual property rights is granted herein.

File Name:  usc.rc

Abstract:   Sets igc32.dll name and file description


******************************************************************************/

#include <winver.h>
#include "..\install\intcver.h"


#if defined(_WIN64)
    #define VER_ORIGINALNAME "igc64.dll"
#else
    #define VER_ORIGINALNAME "igc32.dll"
#endif
#define VER_FILETYPE             VFT_DLL
#define VER_FILESUBTYPE          VFT2_DRV_INSTALLABLE
#define VER_FILEOS               VOS_DOS_WINDOWS32
#define VER_FILEDESCRIPTION      "Intel Graphics Shader Compiler for Intel(R) Graphics Accelerator"
#define VER_INTERNALNAME         "IGC"



#include "..\inc\verinfo.ver"
